@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
/*--colors-----------------------------------------*/
/*--shadows----------------------------------------*/
/*--timing-function------------------------------------------*/
.hello {
  font-family: 'Titan One';
  font-size: 200px;
  color: red;
}
