// Пульсирующая подсветка------------------------------------/

// подключается через animation: pulse 2s infinite

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 71, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

// Cильная тряска ---------------------------------------------------/
// Подключается через добавление класса shake-hard к элементу

.shake-hard {
  display: inline-block;
  transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze,
.shake-hard:hover,
.shake-trigger:hover .shake-hard {
  animation-play-state: running;
}

@keyframes shake-hard {
  2% {
    transform: translate(10px, -5px) rotate(-0.5deg);
  }
  4% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  6% {
    transform: translate(10px, 9px) rotate(2.5deg);
  }
  8% {
    transform: translate(7px, 7px) rotate(3.5deg);
  }
  10% {
    transform: translate(10px, 0px) rotate(0.5deg);
  }
  12% {
    transform: translate(-3px, -4px) rotate(0.5deg);
  }
  14% {
    transform: translate(-4px, -2px) rotate(-0.5deg);
  }
  16% {
    transform: translate(8px, 7px) rotate(3.5deg);
  }
  18% {
    transform: translate(-8px, -3px) rotate(0.5deg);
  }
  20% {
    transform: translate(2px, -7px) rotate(-2.5deg);
  }
  22% {
    transform: translate(6px, 1px) rotate(-1.5deg);
  }
  24% {
    transform: translate(1px, 1px) rotate(-2.5deg);
  }
  26% {
    transform: translate(-1px, 10px) rotate(2.5deg);
  }
  28% {
    transform: translate(10px, -1px) rotate(3.5deg);
  }
  30% {
    transform: translate(-8px, -2px) rotate(2.5deg);
  }
  32% {
    transform: translate(7px, 0px) rotate(3.5deg);
  }
  34% {
    transform: translate(-1px, -3px) rotate(-1.5deg);
  }
  36% {
    transform: translate(-5px, 8px) rotate(1.5deg);
  }
  38% {
    transform: translate(8px, 5px) rotate(3.5deg);
  }
  40% {
    transform: translate(10px, 2px) rotate(-1.5deg);
  }
  42% {
    transform: translate(0px, -1px) rotate(-2.5deg);
  }
  44% {
    transform: translate(-3px, -6px) rotate(0.5deg);
  }
  46% {
    transform: translate(0px, -6px) rotate(-2.5deg);
  }
  48% {
    transform: translate(6px, 6px) rotate(-2.5deg);
  }
  50% {
    transform: translate(-3px, 9px) rotate(-0.5deg);
  }
  52% {
    transform: translate(7px, -3px) rotate(1.5deg);
  }
  54% {
    transform: translate(7px, 0px) rotate(1.5deg);
  }
  56% {
    transform: translate(3px, -7px) rotate(0.5deg);
  }
  58% {
    transform: translate(2px, -3px) rotate(-2.5deg);
  }
  60% {
    transform: translate(5px, 2px) rotate(-2.5deg);
  }
  62% {
    transform: translate(-2px, 10px) rotate(-0.5deg);
  }
  64% {
    transform: translate(8px, -2px) rotate(3.5deg);
  }
  66% {
    transform: translate(8px, -3px) rotate(1.5deg);
  }
  68% {
    transform: translate(4px, 5px) rotate(2.5deg);
  }
  70% {
    transform: translate(0px, -7px) rotate(2.5deg);
  }
  72% {
    transform: translate(5px, -7px) rotate(1.5deg);
  }
  74% {
    transform: translate(-4px, -2px) rotate(-2.5deg);
  }
  76% {
    transform: translate(-8px, -2px) rotate(1.5deg);
  }
  78% {
    transform: translate(2px, -5px) rotate(0.5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(0.5deg);
  }
  82% {
    transform: translate(-4px, -1px) rotate(-0.5deg);
  }
  84% {
    transform: translate(-4px, 8px) rotate(0.5deg);
  }
  86% {
    transform: translate(3px, 5px) rotate(-0.5deg);
  }
  88% {
    transform: translate(6px, -4px) rotate(3.5deg);
  }
  90% {
    transform: translate(-8px, 3px) rotate(-0.5deg);
  }
  92% {
    transform: translate(-5px, 3px) rotate(-2.5deg);
  }
  94% {
    transform: translate(10px, 2px) rotate(1.5deg);
  }
  96% {
    transform: translate(-8px, 6px) rotate(-2.5deg);
  }
  98% {
    transform: translate(10px, 9px) rotate(1.5deg);
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.shake-hard:hover,
.shake-trigger:hover .shake-hard,
.shake-hard.shake-freeze,
.shake-hard.shake-constant {
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-name: shake-hard;
  animation-timing-function: ease-in-out;
}

// Легкая тряска -----------------------------------------------------------------------------------------------------------/

.TYPE CLASS HERE:hover {
  animation: shake $shake-time;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

// выезжающая мороженка --------------------------------------------------------------/
@keyframes move {
  0% {
    left: 0%;
  }
  1% {
    left: 1%;
  }
  2% {
    left: 2%;
  }
  3% {
    left: 3%;
  }
  4% {
    left: 4%;
  }
  5% {
    left: 5%;
  }
  6% {
    left: 6%;
  }
  7% {
    left: 7%;
  }
  8% {
    left: 8%;
  }
  9% {
    left: 9%;
  }
  10% {
    left: 10%;
  }
  11% {
    left: 11%;
  }
  12% {
    left: 12%;
  }
  13% {
    left: 13%;
  }
  14% {
    left: 14%;
  }
  15% {
    left: 15%;
  }
  16% {
    left: 16%;
  }
  17% {
    left: 17%;
  }
  18% {
    left: 18%;
  }
  19% {
    left: 19%;
  }
  20% {
    left: 20%;
  }
  21% {
    left: 21%;
  }
  22% {
    left: 22%;
  }
  23% {
    left: 23%;
  }
  24% {
    left: 24%;
  }
  25% {
    left: 25%;
  }
  26% {
    left: 26%;
  }
  27% {
    left: 27%;
  }
  28% {
    left: 28%;
  }
  29% {
    left: 29%;
  }
  30% {
    left: 30%;
  }
  31% {
    left: 31%;
  }
  32% {
    left: 32%;
  }
  33% {
    left: 33%;
  }
  34% {
    left: 34%;
  }
  35% {
    left: 35%;
  }
  36% {
    left: 36%;
  }
  37% {
    left: 37%;
  }
  38% {
    left: 38%;
  }
  39% {
    left: 39%;
  }
  40% {
    left: 40%;
  }
  41% {
    left: 41%;
  }
  42% {
    left: 42%;
  }
  43% {
    left: 43%;
  }
  44% {
    left: 44%;
  }
  45% {
    left: 45%;
  }
  46% {
    left: 46%;
  }
  47% {
    left: 47%;
  }
  48% {
    left: 48%;
  }
  49% {
    left: 49%;
  }
  50% {
    left: 50%;
  }
}
