@mixin centeredFlex($type: center, $value: center) {
    display: flex;
    justify-content: $type;
    align-items: $value;
  }

  @mixin transition($type) {
    transition: $type 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @mixin fonts($fs, $fw, $lh, $ls: 0.01em) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
  }
  @mixin for-size($range) {
    $mobile: 320px;
    $tablet: 768px;
    $desktop: 1200px;
    @if $range == mobile-only {
      @media (max-width: #{$tablet - 1}) {
        @content;
      }
    } @else if $range == mobile {
      @media (min-width: $mobile) {
        @content;
      }
    } @else if $range == tablet {
      @media (min-width: $tablet) {
        @content;
      }
    } @else if $range == desktop {
      @media (min-width: $desktop) {
        @content;
      }
    }
  }

  @mixin button ($background-color, $color, $font-size, $line-height){
        background-color: $background-color;
        color: $color;
        font-size: $font-size;
        line-height: $line-height;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;

        border-radius: 22px;
      
  }