/*--colors-----------------------------------------*/

$white: #ffffff;
$black: #000000;

$pink-icecream-bg: #ffb8ca;
$pink-light-bg: #fff5f6;
$pink-dark-bg: #ffa5ba;

$ice-coffe-bg: #f0d1a5;

$milkshakes-bg: #c2e297;

$accent-color: #d41443;

$text: #907e82;
$text-bg: #fafafa;

$pseudo-element: #e1e1e1;

$button-hover-accent: #c7133e;

$button-hover: #ecebeb;

$button-accent: #d41342;

$social-icons: #fea5bb;

/*--shadows----------------------------------------*/

$shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

/*--timing-function------------------------------------------*/

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
