<section class="about" id="about">
    <div class="container about__container">
        <label class="about__composition">Tradition and love</label>
        <h2 class="about__title">How it’s made?</h2>
        <div class="about__div">
            <picture>
                <source srcset="./images/about/cow_1280px_1x-min.png 1x, ./images/about/cow_1280px_2x-min.png 2x"
                    media="(min-width: 1280px)">
                <source srcset="./images/about/cow_768px_1x-min.png 1x, ./images/about/cow_768px_2x-min.png 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/about/cow_320px_1x-min.png 1x, ./images/about/cow_320px_2x-min.png 2x"
                    media="(min-width: 480px)">
                <img class="about__picture shake-hard" src="./images/about/cow_320px_1x-min.png" alt="Корова" />
            </picture>
            <div class="about__wrap">
                <p class="about__text about__text--black">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>

                <p class="about__text about__text--grey">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
                    massa nibh, tincidunt.
                    <br /><br />
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button class="about__button" type="button" about-modal-open>Read more
                    <svg class="about__icon" width="10px" height="10px">
                        <use href="./images/icons/icon-defs.svg#icon-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>