<section>
  <div class="container">
    <!-- скрытый заголовок  -->
    <h2>Contacts</h2>
    <ul class="card">
      <li class="card__list">
        <p class="card__category">CAFE</p>
        <p class="card__place">Chicago</p>
        <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="card__work">
          <li class="card__work-time">
            <p class="card__day">Monday - Friday</p>
            <p class="card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__work-time">
            <p class="card__day">Saturday - Sunday</p>
            <p class="card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="card__contacts">
          <li class="card__contacts-list">
            <a href="tel:+61(0)383766284" class="card__contacts-link">+61(0)383766284</a>
          </li>
          <li class="card__contacts-list">
            <a href="mailto:noreply@envato.com" class="card__contacts-link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="card__list">
        <p class="card__category special">FOOD TRUCK</p>
        <p class="card__place">Los Angeles</p>
        <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="card__work">
          <li class="card__work-time">
            <p class="card__day">Monday - Friday</p>
            <p class="card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__work-time">
            <p class="card__day">Saturday - Sunday</p>
            <p class="card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="card__contacts">
          <li class="card__contacts-list">
            <a href="tel:+61(0)383766284" class="card__contacts-link">+61(0)383766284</a>
          </li>
          <li class="card__contacts-list">
            <a href="mailto:noreply@envato.com" class="card__contacts-link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="card__list">
        <p class="card__category">CAFE</p>
        <p class="card__place">New York</p>
        <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="card__work">
          <li class="card__work-time">
            <p class="card__day">Monday - Friday</p>
            <p class="card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__work-time">
            <p class="card__day">Saturday - Sunday</p>
            <p class="card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="card__contacts">
          <li class="card__contacts-list">
            <a href="tel:+61(0)383766284" class="card__contacts-link">+61(0)383766284</a>
          </li>
          <li class="card__contacts-list">
            <a href="mailto:noreply@envato.com" class="card__contacts-link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>
        <button type="button">Our Locations</button>
      </li>
      <li><button type="button">Franchise</button></li>
    </ul>
  </div>
</section>
