<section class="contacts">
  <div class="container">
    <!-- скрытый заголовок  -->
    <h2 class="visually-hidden">Contacts</h2>
    <div>
      <ul class="card animated">
        <li class="card__list">
          <p class="card__category">CAFE</p>
          <p class="card__place">Chicago</p>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="card__work">
            <li class="card__work-time">
              <p class="card__day">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="card__work-time">
              <p class="card__day">Saturday - Sunday</p>
              <p class="card__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="card__contacts">
            <li class="card__contacts-list">
              <a href="tel:+61(0)383766284" class="card__contacts-link">+61(0)383766284</a>
            </li>
            <li class="card__contacts-list">
              <a href="mailto:noreply@envato.com" class="card__contacts-link">noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="card__list">
          <p class="card__category card__category--special">FOOD TRUCK</p>
          <p class="card__place">Los Angeles</p>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="card__work">
            <li class="card__work-time">
              <p class="card__day">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="card__work-time">
              <p class="card__day">Saturday - Sunday</p>
              <p class="card__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="card__contacts">
            <li class="card__contacts-list">
              <a href="tel:+61(0)383766284" class="card__contacts-link">+61(0)383766284</a>
            </li>
            <li class="card__contacts-list">
              <a href="mailto:noreply@envato.com" class="card__contacts-link">noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="card__list">
          <p class="card__category">CAFE</p>
          <p class="card__place">New York</p>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="card__work">
            <li class="card__work-time">
              <p class="card__day">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="card__work-time">
              <p class="card__day">Saturday - Sunday</p>
              <p class="card__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="card__contacts">
            <li class="card__contacts-list">
              <a href="tel:+61(0)383766284" class="card__contacts-link">+61(0)383766284</a>
            </li>
            <li class="card__contacts-list">
              <a href="mailto:noreply@envato.com" class="card__contacts-link">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contacts-btn">
        <li class="contacts-btn__list">
          <button
            type="button"
            class="contacts-btn__button contacts-btn__button--primary"
            location-modal-open
          >
            Our Locations
            <svg width="10" height="10" class="contacts-btn__icon">
              <use href="./images/icons/icon-defs.svg#icon-right"></use>
            </svg>
          </button>
        </li>
        <li class="btn__list">
          <button type="button" class="contacts-btn__button contacts-btn__button--secondary">
            Franchise
            <svg width="10" height="10" class="contacts-btn__icon">
              <use href="./images/icons/icon-defs.svg#icon-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="backdrop-contacts is-hidden" location-modal>
    <div class="modal-contacts">
      <button type="button" class="modal-contacts__btn" location-modal-close>
        <svg width="14" height="14">
          <use href="./images/icons/icon-defs.svg#icon-close"></use>
        </svg>
      </button>
      <p class="modal-contacts__title">Our Location</p>
      <div class="modal__maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23804.66396994039!2d-87.71966686897035!3d41.7726477762702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2fd66fe2cbe5%3A0xe64a5e3d87b9628!2z0KfQuNC60LDQs9C-INCb0L7QvSwg0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1626784894024!5m2!1sru!2sua"
          width="300"
          height="300" 
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          border-radius="10px"
        ></iframe>
      </div>
    </div>
  </div>
</section>
