<section class="footer">
    <div class="container">
        <p class="footer__text">homemade ice cream made</p>
        <h2 class="footer__header">with passion</h2>
        <ul class="footer__list">
            <li >

                <a href=""><svg class="footer-social__svg">
                    <use href="./images/icons/icon-defs.svg#icon-git" ></use>
                </svg></a>
                
            </li>
                        
            <li>
                <a href=""><svg class="footer-social__svg">
                    <use href="./images/icons/icon-defs.svg#icon-telegram" ></use>
                </svg>     </a>

            </li>
            
                <a href=""></a><svg class="footer-social__svg">
                    <use href="./images/icons/icon-defs.svg#icon-facebook" ></use>
                </svg></a>

            </li>
        </ul>

        <p class="footer-contact__text">Feel free to contact </p>
        <a href="tel" class="footer-contact__tel">+61 (0) 383 766 284</a>


        <p class="footer__copyright">© 2019 - IceCream.
        All Rights Reserved.</p>




    </div>

</section>