<header class="header">
    <div class="header__container">

        <!-- Logo -->
        <a href="./index.html" class="header__logo">
        <img srcset="./images/hero-header/logo-header.png 1x, ./images/hero-header/logo-header@2x.png 2x"
        src="./images/hero-header/logo-header.png" alt="icecream logo">
        </a>

        <!-- Navigation -->
        <nav class="navigation"> 
            <ul class="navigation__list list">
                <li class="navigation__item navigation__item--active"><a href="./" class="navigation__link  navigation__link--active link">Home</a></li>
                <li class="navigation__item"><a href="#about" class="navigation__link  link">About us</a></li>
                <li class="navigation__item"><a href="#about" class="navigation__link link">How it's made?</a></li>
                <li class="navigation__item"><a href="#products" class="navigation__link link">Our products</a></li>
                <li class="navigation__item"><a href="#contacts" class="navigation__link link">Contact</a></li>
            </ul>
        </nav>

        <!-- Header-Buttons -->
        <div class="header__buttons">
            <button type="button" class="header__button-menu" id="mobile-menu" js-open-menu>
                <svg class="header__icon-menu" width="20" height="20" aria-label="mobile menu switcher">
                    <use href="./images/icons/icon-defs.svg#icon-menu"></use>
                </svg>
            </button>
            <button type="button" class="header__button-buy" buy-modal-open >Buy now &nbsp; 
                <svg width="10" height="10">
                    <use class="header__icon-right" href="./images/icons/icon-defs.svg#icon-icon-right"></use>
                </svg>
            </button>
        </div>
    </div>

    <!-- Mobile menu -->
    <div class="mobile-menu is-open" js-menu>
        <button type="button" class="mobile-menu__button-close" js-close-menu>
            <svg width="30" height="30" aria-label="mobile menu switch off">
                <use class="mobile-menu__icon-close" href="./images/icons/icon-defs.svg#icon-cross" ></use>
            </svg>
        </button>

        <button type="button" class="mobile-menu__button-buy" buy-mobile-modal-open>Buy now &nbsp; 
            <svg width="10" height="10">
                <use class="header__icon-right" href="./images/icons/icon-defs.svg#icon-icon-right"></use>
            </svg>
        </button>

        <ul class="mobile-menu__navigation-list">
            <li class="mobile-menu__item navigation__item--active"><a href="./" class="mobile-menu__link  mobile-menu__link--active">Home</a></li>
            <li class="mobile-menu__item"><a href="#about" class="mobile-menu__link">About us</a></li>
            <li class="mobile-menu__item"><a href="#about" class="mobile-menu__link">How it's made?</a></li>
            <li class="mobile-menu__item"><a href="#products" class="mobile-menu__link">Our products</a></li>
            <li class="mobile-menu__item"><a href="#contacts" class="mobile-menu__link">Contact</a></li>
        </ul>
    </div>
    <!-- Hero -->
    <section class="hero">
        <div class="hero__container">
            <div class="hero-title">
                <h1 class="hero-title__text"> 
                    <span class="hero-title__text--white">ice cream made with</span>
                    <span class="hero-title__text--rose">passion</span>  
                </h1>
                <ul class="hero-title__buttons-list list">
                    <li class="hero-title__buttons-item">
                        <a href="#products" class="hero-title__buttons-link hero-title__buttons-link--red">Products</a>
                    </li>
                    <li class="hero-title__buttons-item hero-title__buttons-item--white">
                        <a href="#about" class="hero-title__buttons-link">How it's made?</a>
                    </li>
                </ul>
            </div>   
            <div class="hero-icecream">
                <picture class="hero-icecream__picture">
                    <source srcset="./images/hero-header/ice-cream_1280px_1x-min.png 1x, ./images/hero-header/ice-cream_1280px_2x-min.png 2x" media="(min-width: 1280px)">
                    <source srcset="./images/hero-header/ice-cream_768px_1x-min.png 1x, ./images/hero-header/ice-cream_768px_2x-min.png 2x" media="(min-width: 768px)">
                    <source srcset="./images/hero-header/ice-cream_320px_1x-min.png 1x, ./images/hero-header/ice-cream_320px_2x-min.png 2x" media="(min-width: 320px)">
                    
                    <img src="./images/hero-header/ice-cream_320px_1x-min.png" alt="icecream picture">
                </picture>
            </div>
            <div class="hero-milk">
                <picture>
                    <source srcset="./images/hero-header/milk_1280px_1x-min.png 1x, ./images/hero-header/milk_1280px_2x-min.png 2x" media="(min-width: 1280px)">
                    <source srcset="./images/hero-header/milk_768px_1x-min.png 1x, ./images/hero-header/milk_768px_2x-min.png 2x" media="(min-width: 768px)">
                    
                    <img src="./images/hero-header/milk_768px_1x-min.png" alt="milk picture">
                </picture>
                <div class="hero-milk__info">
                    <p class="hero-milk__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    </p>
                    <a href="#made" class="hero-milk__icon">
                        <svg class="hero-milk__icon-right hero-milk__icon-right--desktop" width="10" height="10">
                            <use  href="./images/icons/icon-defs.svg#icon-arrow-right2"></use>
                        </svg>
                        <svg class="hero-milk__icon-right hero-milk__icon-right--tablet" width="8" height="8">
                            <use  href="./images/icons/icon-defs.svg#icon-arrow-right2"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="hero-girl">
                <picture>
                    <source srcset="./images/hero-header/girl_1280px_1x-min.png 1x, ./images/hero-header/girl_1280px_2x-min.png 2x" media="(min-width: 1280px)">
                    <source srcset="./images/hero-header/girl_768px_1x-min.png 1x, ./images/hero-header/girl_768px_2x-min.png 2x" media="(min-width: 768px)">
                    
                    <img src="./images/hero-header/girl_768px_1x-min.png" alt="girl picture">
                </picture>
            </div>
            <div class="hero-decorations">
                <ul class="hero-decorations__list list"> 
                    <li class="hero-decorations__item">
                        <p class="hero-decorations__number">16</p>
                        <p class="hero-decorations__text">cafes</p>
                    </li>
                    <li class="hero-decorations__item">
                        <p class="hero-decorations__number">23</p>
                        <p class="hero-decorations__text">food trucks</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    </header>