<div class="backdrop is-hidden" data-modal>
    <div class="modal-about">
        <div class="modal-about__button">
            <button class="close" data-modal-close>
                <svg width="14" height="14">
                    <use href="./images/icons/icon-defs.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <h2 class="modal-about__title">It's made with love!</h2>
        <p class="modal-about__text modal-about__text--black"> Farmer Martin is driving his tractor along the village road. He has a trailer load of fertilizer. Bobby a boy of
            nine is
            playing near the house when he notices this man and asks, “What have you got in this trailer?”
        </p>
        <p class="modal-about__text modal-about__text--black">“Manure”, answers English farmer.</p>    
        <p class="modal-about__text modal-about__text--black">“What are you planning to do with it?” asks Bobby.</p>
        <p class="modal-about__text modal-about__text--black">“Put it on my strawberries”, answers Martin.</p> 
        <p class="modal-about__text modal-about__text--black">Bobby says, “You should come and eat with us, we usually put ice-cream on our strawberries”.
        <h3 class="about-modal__composition">Please, enjoy!</h2>
    </div>
</div>