<div class="backdrop is-hidden" buy-modal>
  <div class="modal">
    <div class="modal__close-button">
      <button class="modal__close" type="button" buy-modal-close>
        <svg width="14" height="14">
          <use href="./images/icons/icon-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  
        <form class="modal__form">
            <p class="modal__title">Buy now</p>
            <label class="modal__label" for="name"><span class="modal__label--text">Name</span>
                <span class="modal__wrap">
                    <input class="modal__input" type="text" name="user-name" id="name" required autofocus>
                    <svg class="modal__icon" width="18" height="18">
                        <use href="./images/icons/icon-defs.svg#icon-name"></use>
                    </svg>
                </span>
            </label>
            <label class="modal__label" for="tel"><span class="modal__label--text">Telephone</span> 
                <span class="modal__wrap">
                    <input class="modal__input" type="tel" name="user-tel" id="tel" required>
                    <svg class="modal__icon" width="18" height="18">
                        <use href="./images/icons/icon-defs.svg#icon-tel"></use>
                    </svg>
                </span>
            </label>
            <label class="modal__label" for="email"><span class="modal__label--text">Email Address</span>
                <span class="modal__wrap">
                    <input class="modal__input" type="email" name="user-email" id="email" required>
                    <svg class="modal__icon" width="18" height="18">
                        <use href="./images/icons/icon-defs.svg#icon-mail"></use>
                    </svg>
                </span>
            </label>
           
          <div class="modal__select-form">
            <label class="modal__select-text" for="ice">Choose Your Ice-Cream</label>
            <select class="modal__select-ice" id="ice" name="ice">
              <option value=""></option>
              <option value="">Dark Chocolate</option>
              <option value="">Milk Chocolate</option>
              <option value="">Raspberry</option>
              <option value="">Strawberry</option>
              <option value="">Green Tea</option>
              <option value="">Pistachio</option>
              <option value="">Blue Moon</option>
              <option value="">Vanilla</option>
              <option value="">Milk</option>
              <option value="">Snikears</option>
            </select>
          </div>
        
          <button class="modal__submit-button" type="submit">Continue</button>
        </form>
  </div>
</div>