<section class="products">
    <div class="container products__container">
        <p class="products__composition">100% natural</p>
        <h2 class="products__title">Products</h2>
        <ul class="products__list">
            <li class="products__item">
                <!-- <picture>
                    <source srcset="./images/products/pink-ice-cream_320px_1x-min.png 1x, ./images/products/pink-ice-cream_320px_2x-min.png 2x"
                        media="(min-width: 480px)">
                    <source srcset="./images/products/pink-ice-cream_768px_1x-min.png 1x, ./images/products/pink-ice-cream_768px_2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/products/pink-ice-cream_1280px_1x-min.png 1x, ./images/products/pink-ice-cream_1280px_2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <img class="" src="./images/products/pink-ice-cream_320px_1x-min.png" alt="Мороженое"/>
                </picture> -->
                <h3 class="products__name">ice cream</h3>
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <a href="" class="products__link">
                    <svg class="icon-right">
                        <use href="./images/icons/icon-defs.svg#icon-right"></use>
                    </svg>
                </a>
            </li>
            <li class="products__item">
                <!-- <picture>
                    <source srcset="./images/products/ice-coffee_320px_1x-min.png 1x, ./images/products/ice-coffee_320px_2x-min.png 2x"
                        media="(min-width: 480px)">
                    <source srcset="./images/products/ice-coffee_768px_1x-min.png 1x, ./images/products/ice-coffee_768px_2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/products/ice-coffee_1280px_1x-min.png 1x, ./images/products/ice-coffee_1280px_2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <img class="" src="./images/products/ice-coffee_320px_1x-min.png" alt="Холодный кофе"/>
                </picture> -->
                <h3 class="products__name">ice coffee</h3>
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="" class="products__link">
                    <svg class="icon-right">
                        <use href="./images/icons/icon-defs.svg#icon-right"></use>
                    </svg>
                </a>
            </li>
            <li class="products__item">
                <!-- <picture>
                    <source srcset="./images/products/milk-shake_320px_1x-min.png 1x, ./images/products/milk-shake_320px_2x-min.png 2x"
                        media="(min-width: 480px)">
                    <source srcset="./images/products/milk-shake_768px_1x-min.png 1x, ./images/products/milk-shake_768px_2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/products/milk-shake_1280px_1x-min.png 1x, ./images/products/milk-shake_1280px_2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <img class="" src="./images/products/milk-shake_320px_1x-min.png" alt="Молочный коктейль"/>
                </picture> -->
                <h3 class="products__name">milkshakes</h3>
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="" class="products__link">
                    <svg class="icon-right">
                        <use href="./images/icons/icon-defs.svg#icon-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>