<section class="products" id="products">
    <div class="container products__container">
        <p class="products__composition">100% natural</p>
        <h2 class="products__title">Products</h2>
        <ul class="products__list">
            <li class="products__item products__item--ice-cream">
                <h3 class="products__name products__name--ice-cream">ice cream</h3>
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D1%80%D0%BE%D0%B6%D0%B5%D0%BD%D0%BE%D0%B5" target="blank" class="products__link">
                    <svg class="icon-right" width="15px" height="15px">
                        <use href="./images/icons/icon-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </a>
            </li>
            <li class="products__item products__item--ice-coffee">
                <h3 class="products__name products__name--ice-coffee">ice coffee</h3>
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="https://www.adme.ru/zhizn-kuhnya/10-krutyh-sposobov-sdelat-holodnyj-kofe-1291365/" target="blank" class="products__link">
                    <svg class="icon-right" width="15px" height="15px">
                        <use href="./images/icons/icon-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </a>
            </li>
            <li class="products__item products__item--milkshakes">
                <h3 class="products__name products__name--milkshakes">milkshakes</h3>
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="https://www.povarenok.ru/recipes/dishes/drink/?searchid=537" target="blank" class="products__link">
                    <svg class="icon-right" width="15px" height="15px">
                        <use href="./images/icons/icon-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>