.about {
  text-align: center;
  background-color: $pink-light-bg;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position-y: 79%;

  @media screen and (max-width: 767px) {
    background-image: url(../images/about/milk-bg_320px_1x-min.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/about/milk-bg_320px_2x-min.png);
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px),
    (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 767px),
    (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 767px) {
    background-image: url(../images/about/milk-bg_320px_2x-min.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: none;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/about/milk-bg_1280px_1x-min.png);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
    (min-resolution: 192dpi) and (min-width: 1280px),
    (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url(../images/about/milk-bg_1280px_2x-min.png);
  }
}

.about__container {
  padding-top: 125px;
  padding-bottom: 19px;

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 46px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 19px;
  }
}

.about__composition {
  margin-bottom: 15px;
  font-family: Titan One;
  @include fonts(26px, 400, 1.154, 0.04);
  text-transform: uppercase;
  color: $pink-dark-bg;

  @media screen and (min-width: 1280px) {
    @include fonts(30px, 400, 1.133, 0.04);
  }
}

.about__title {
  margin-bottom: 26px;
  font-family: Titan One;
  @include fonts(48px, 400, 1.146, 0.04);
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    @include fonts(58px, 400, 1.138, 0.04);
    margin-bottom: 55px;
  }
}

.about__div {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
  }

  @media screen and (min-width: 1280px) {
    gap: 74px;
  }
}

.about__picture {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 516px;
  }
}

.about__wrap {
  text-align: start;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 56px;
  }
}

.about__text {
  @include fonts(12px, 500, 1.62, 0.04);
  text-shadow: 0px 0px 30px 17px rgba(255, 255, 255, 0.2);

  @media screen and (min-width: 768px) {
    @include fonts(14px, 500, 1.76, 0.04);
  }

  &--black {
    color: $black;
    margin-bottom: 37px;
    @media screen and (min-width: 1280px) {
      @include fonts(16px, 500, 1.76, 0.04);
    }
  }

  &--grey {
    color: $text;
    @media screen and (min-width: 1280px) {
      @include fonts(14px, 500, 1.94, 0.04);
    }
  }

  &--first {
    margin-bottom: 14px;
    @media screen and (min-width: 768px) {
      margin-bottom: 25px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 35px;
    }
  }

  &--last {
    margin-bottom: 17px;
    @media screen and (min-width: 768px) {
      margin-bottom: 62px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 45px;
    }
  }
}

.about__button {
  margin-left: auto;
  margin-right: auto;
  font-style: inherit;
  @include button($white, $accent-color, 14px, 1.286);
  font-weight: 700;
  height: 44px;
  width: 176px;
  color: $accent-color;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: $button-shine;
    background-color: $button-hover;
  }

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.about__icon {
  stroke: currentColor;
  margin-left: 13px;
}
