.contacts {
  background-image: linear-gradient(to bottom, $white 10%, $pink-light-bg 10%, $pink-light-bg 100%);
  padding-bottom: 113px;
  @media screen and (min-width: 768px) {
    padding-bottom: 158px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 165px;
  }
}
.card {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 86px;
    background-image: url('../images/contacts/contacts-bg.png');
    background-size: 1280px 382px;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .card {
    background-image: url(../images/contacts/contacts-bg@2x.png);
    background-size: 1280px 382px;
  }
}
.card__list {
  padding: 43px 20px;
  background: $white;
  box-shadow: $shadow;
  border-radius: 24px;
  width: 220px;
  &:not(:last-child) {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-right: 20px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 50px 31px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    padding: 51px 43px;
  }
}
.contacts-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
  }
}

.card__category {
  background: $ice-coffe-bg;
  width: 80px;
  color: $white;
  margin-bottom: 25px;
  text-align: center;
  border-radius: 4px;
  @include fonts(12px, 500, 1.86, 0.04em);
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    width: 73px;
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}
.card__category--special {
  width: 130px;
  background: $milkshakes-bg;
  @media screen and (min-width: 1280px) {
    width: 138px;
  }
}
.card__place {
  @include fonts(12px, 500, 1.86, 0.04em);
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.card__text {
  color: $text;
  margin-bottom: 25px;
  @include fonts(12px, 500, 1.5, 0.04em);
  letter-spacing: normal;
  &::after {
    content: '';
    margin-top: 25px;
    border-bottom: 1px solid $pseudo-element;
    display: block;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    @include fonts(14px, 500, 1.66, 0.04em);
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 500, 1.83, 0.04em);
  }
}
.card__day,
.card__time {
  @include fonts(12px, 500, 1.86, 0.04em);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.card__work-time {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 25px;
  }
  &:last-child::after {
    content: '';
    margin-top: 25px;
    border-bottom: 1px solid $pseudo-element;
    display: block;
    width: 100%;
  }
}

.card__time {
  color: $pink-dark-bg;
}
.card__contacts-link {
  @include fonts(12px, 500, 1.5, 0.04em);
  color: $text;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts-btn__button {
  @include button($button-accent, $white, 16px, 1.31);
  font-weight: 700;
  width: 161px;
  padding: 10px 17px;
  stroke: $white;
  @include transition(background-color);
  @media screen and (min-width: 768px) {
    width: 191px;
    padding: 10px 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 192px;
    padding: 10px 32px;
  }
  &--secondary {
    background: $white;
    color: $accent-color;
    stroke: $accent-color;
  }
}
.contacts-btn__button--primary {
  &:focus,
  &:hover {
    background: $button-hover-accent;
  }
}
.contacts-btn__button--secondary {
  &:focus,
  &:hover {
    background: $button-hover;
  }
}
.contacts-btn__list {
  &:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}
.contacts-btn__icon {
  margin-left: 8px;
}

// modal
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(247, 189, 246, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10000;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  & .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 90px 40px;
  max-width: 100%;
  max-height: 600px;
  background-image: url('../images/modal/modal-roof.png'), url('../images/modal/modal-bg-pink.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: $shadow;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%) scale(1);
  @include transition(transform);

  @media screen and (min-width: 460px) and (max-width: 1279px) {
    width: 450px;
  }
  @media screen and (min-width: 1280px) {
    width: 528px;
    min-height: 581px;
  }
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  @include transition(fill);
  &:hover,
  &:focus {
    fill: $button-hover-accent;
  }
}
.modal__title {
  font-family: Titan One;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}
.modal__maps {
  position: relative;
  padding: 20px;
  background: $white;
  box-shadow: $shadow;
  border-radius: 10px;
  &::after {
    position: absolute;
    right: -40%;
    top: 95%;
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background-image: url('../images/modal/ice-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
